<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--GOOGLE FONTS LINKS -->
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Old Standard TT' rel='stylesheet'>

    <!-- LINK TO STYLESHEET  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.css">
</head>
    <!-- NAVBAR START  -->
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">devstudio24.com</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="responsive.html">responsive samples <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="graphicdesign.html">graphic design <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="rubyrails.html">ruby on rails <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="samplewordpress.html">wordpress sample<span class="sr-only">(current)</span></a>
      </li>
  </div>
</nav>
<hr>
<!--********* INFORMATION SPACE OPEN  ********-->
<div id="info_space">
<div class="pagecontainr">
<div class="containr-title">
<p> <span class="bluetext  abrilfatfont-title">Quoting Women</span>&nbsp;&nbsp;
  <span class="oldstandfont-title"><br>on the Supreme Court</span>
<br>
<hr class="namebtmright"></hr>
<br>
</div> <!-- close container-title -->
<div class="containr-content">
      <div class="widthdeskleft">
          <img src="/images/bluefill.jpg">
      </div>
      <div class="widthdeskright">
    <!-- HIDDEN IN MOBILE -->    
        <p class="oldstandfont nametopright">Ruth Bader Ginsburg</p>
        <p class="opensansfont nametopright">Associate Justice, took her seat August&nbsp;10,&nbsp;1993.  </p>
    <!-- END -->
        <p class="abrilfatfont redtext">
            <span class="quotemark">
              &#8220; <!-- openquote -->
            </span>
            <span class="leftmarginquote hidequote">
            &#8220;</span>Fight for the things that you care about, but do it in a way that will lead others to join you.<span class="hidequote">&#8221;
        </p>
        <span class="quotemark" style="line-height: 50px;">
            &#8221; <!-- closequote -->
          </span>
    <!-- HIDDEN IN DESKTOP -->    
        <p class="oldstandfont namebtmright">Ruth Bader Ginsburg</p>
        <p class="opensansfont namebtmright">Associate Justice, took her seat August&nbsp;10,&nbsp;1993.  </p>
    <!-- END -->    
        <br>
        <a class="opensansfont" href="#" >&#8226;&nbsp;Justice Ginsburg's court collars</a>&nbsp;&nbsp;<a class="opensansfont" href="#">&#8226;&nbsp;wikipedia</a>
      </div> <!-- close widthdeskright -->
</div>  <!-- close containr-content -->
</div> <!-- close pagecontainr -->
</div> <!--close info_space-->


<!--********* INFORMATION SPACE CLOSED  ********-->
   <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>