<!DOCTYPE html>
<html>
<head>
	<title>Kehillah Soccer League</title>
	<link rel="stylesheet" type="text/css" 
	href="/style.css">
</head>
<body>

<!--*********INFORMATION SPACE********-->
<div id="info_space">
<H2>NEW PAGES</H2>
<h3>Welcome to devstudio</h3>

<img src="../img/sketchlogo.jpg">

<p>
	Some copy here about the league and how great they are and what their mission is and why your child should join/register.
</p>
<p>
	If your child would like to participate in the league please visit our <a href="http://localhost:4567/register">registration </a>page. Perhaps additional verbiage to encourage parents to volunteer by driving them to the<a href="volunteer">volunteer </a>form.
</p>


</div> <!--close info_space-->
