<!DOCTYPE html>
<html>
<head>
	<title>devstudio24</title>
	
</head>
<body>
	<div id="wrapper">
		<h1 class="topper">
			devstudio24
		</h1><!--close topper-->
<!--NAVIGATION-->
		<nav>
			<ul>
				<li>
					<a href="/index">
						home
					</a>
				</li>
				<li>
					<a href="/contact">
						contact
					</a>
				</li>
				<li>
					<a href="/graphicdesign">
						graphic design
					</a>
				</li>
				<li>
					<a href="/responsive">
						responsive 
					</a> 
				</li>
				<li>
					<a href="/rubyrails">
						rubyrails projects
					</a> 
				</li>
				<li>
					<a href="/samplewordpress">
						wordpress projects
					</a> 
				</li>
				
			</ul>
		</nav>
<!--close NAVIGATION-->
<!--********* INFORMATION SPACE OPEN  ********-->
<%=yield%>
<!--********* INFORMATION SPACE CLOSED  ********-->
</div> <!--close wrapper-->
</body>
</html>