.ubuntufont {
  font-family: 'Ubuntu';
  font-size: 25px; }

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

.opensansfont p, p.opensansfont {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 5px;
  font-style: italic !important; }

@media screen and (min-width: 300px) and (max-width: 570px) {
  p.opensansfont {
    font-size: 13px;
    text-align: center; } }
.subtitle {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 5px; }

@media screen and (max-width: 570px) and (min-width: 300px) {
  .subtitle {
    font-size: 12px; } }
.opensansfont
a {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 5px;
  color: #0C3752 !important;
  text-align: left;
  margin-left: 10px;
  display: block; }

@media screen and (min-width: 300px) and (max-width: 570px) {
  a {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 14px !important;
    text-align: left;
    display: block; } }
li {
  font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0C3752 !important;
  text-align: left;
  display: block; }

@media screen and (min-width: 300px) and (max-width: 570px) {
  a {
    font-family: 'Open Sans', Verdana, Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    display: block; } }
.abrilfatfont {
  font-family: 'Abril Fatface', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 40px;
  line-height: -50px;
  color: #9C2426; }

@media screen and (min-width: 300px) and (max-width: 570px) {
  .abrilfatfont {
    font-size: 33px; } }
.abrilfatfont-title {
  font-family: 'Abril Fatface', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 58px;
  color: #0C3752; }

@media screen and (min-width: 300px) and (max-width: 570px) {
  .abrilfatfont-title {
    font-size: 40px;
    line-height: 20px; } }
.oldstandfont {
  font-family: 'Old Standard TT','Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 38px;
  line-height: 35px; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .oldstandfont {
    font-size: 27px;
    line-height: 20px; } }
.oldstandfont-title {
  font-family: 'Old Standard TT','Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 58px;
  line-height: 50px; }

@media screen and (min-width: 300px) and (max-width: 570px) {
  .oldstandfont-title {
    font-size: 27px; } }
.clearfix {
  clear: both !important; }

.hidebig {
  display: block !important; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .hidebig {
    display: none !important; } }
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .hidelittle {
    display: none !important; } }
.pagecontainr {
  width: 100%;
  margin: 0px 10px 0px 10px; }

.containr-title {
  width: 100%;
  margin-left: 10px;
  margin-top: 25px; }

.containr-title {
  margin-bottom: 20px; }
  .containr-title br {
    display: all; }

@media screen and (min-width: 1024px) {
  .containr-title br {
    display: none; } }
.container-subtitle {
  margin-top: -20px;
  margin-bottom: 50px;
  padding-left: 50px; }

@media screen and (max-width: 1024px) and (min-width: 570px) {
  .container-subtitle {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 5px; } }
@media screen and (max-width: 569px) and (min-width: 300px) {
  .container-subtitle {
    margin-top: -25px;
    margin-bottom: 20px;
    padding-left: 0px; } }
.containr-content {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 50px;
  float: left; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .containr-content {
    margin: 0 auto; } }
.widthdeskleft {
  width: 22%;
  display: block; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .widthdeskleft {
    display: none !important; } }
.containr-content img.widthdeskleft,
.widthdeskleft img {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .containr-content img.widthdeskleft,
  .widthdeskleft img {
    display: none; } }
.widthdeskright {
  width: 75%;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 25px;
  margin: auto;
  float: right; }

.listmarg {
  margin-left: 0%; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .widthdeskright {
    width: 100%;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 10px;
    text-align: center; } }
@media screen and (min-width: 426px) and (max-width: 767px) {
  .listmarg {
    margin-left: 20%; } }
@media screen and (min-width: 300px) and (max-width: 425px) {
  .listmarg {
    margin-left: 10%; } }
.leftmarginquote {
  margin-left: -20px; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .leftmarginquote {
    margin-left: 0px; } }
.hidequote {
  display: inline; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .hidequote {
    display: none; } }
.quotemark {
  display: none; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .quotemark {
    font-family: 'Abril Fatface', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
    font-size: 80px;
    color: #0C3752;
    text-align: center;
    display: block;
    line-height: 10px; } }
.nametopright {
  display: block; }

@media screen and (min-width: 300px) and (max-width: 767px) {
  .nametopright {
    display: none; } }
.ruledisplay {
  padding-top: 50px;
  margin: 0 auto;
  display: block;
  border-color: #9C2426;
  width: 90%; }

.widthdeskright-space {
  line-height: 50px; }

/*# sourceMappingURL=styles.css.map */
