@import "fonts";
@import "breakpoints";
@import "colors";

// THIS IS THE MAIN SHEET : RESPONSIVE FORMATTING: Margins, line height and padding. 

.clearfix {clear: both !important; }

.hidebig {display: block !important;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
    .hidebig {display: none !important;}
  }

  @media screen and (min-width: $bp-tablethigh) and (max-width: 1440px){
    .hidelittle {display: none !important;}
  }

.pagecontainr{
  width: 100%;
  margin: 0px 10px 0px 10px;
}
.containr-title{
  width: 100%;
  margin-left: 10px;
  margin-top: 25px;
  // float: left;
}   

.containr-title {
  margin-bottom: 20px;

  br{display: all;}}

  @media screen and (min-width: $bp-desktoplow) {
    .containr-title br{
    display: none;}}

.container-subtitle{
  margin-top: -20px;
  margin-bottom: 50px;
  padding-left: 50px;}
  @media screen and (max-width: $bp-desktoplow) and (min-width: 570px){
    .container-subtitle{
      margin-top: 0px;
      margin-bottom: 20px;
      padding-left: 5px;}}
  @media screen and (max-width: 569px) and (min-width: $bp-mobilelow){
  .container-subtitle{
    margin-top: -25px;
    margin-bottom: 20px;
    padding-left: 0px;}}


.containr-content{
  width: 100%;
  margin-left: 10px;
margin-bottom: 50px;

  float: left;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
    .containr-content{
    margin: 0 auto;
   } 
  }

//COLUMNS FOR CONTENT
//LEFT COLUMN
.widthdeskleft{
  width: 22%;
  display: block;  }
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
    .widthdeskleft{
      display: none !important;}}

.containr-content img.widthdeskleft,
.widthdeskleft img{
    float: left;
    width:100%;
    height: auto;
    position: relative;
    margin: 0 auto;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
.containr-content img.widthdeskleft,
.widthdeskleft img{
      display: none;
    }
  }

//COLUMNS FOR CONTENT
//RIGHT COLUMN
// DESKTOP
.widthdeskright{
  width: 75%;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 25px;
  margin: auto;
  float: right;}
  .listmarg{
    margin-left: 0%;
  }

  // TABLET AND MOBILE
  @media screen and (min-width: 300px) and (max-width: 767px){
    .widthdeskright{
      width: 100%;
      padding-top: 0px;
      padding-right: 20px;
      padding-left: 10px;
      text-align: center;}}

  @media screen and (min-width: 426px) and (max-width: 767px){
      .listmarg{
       margin-left: 20%; }}
  @media screen and (min-width: 300px) and (max-width: 425px){
      .listmarg{
       margin-left: 10%; }} 

//QUOTATION TREATMENT
// TOP LEFT QUOTE MARK
.leftmarginquote{
  margin-left: -20px;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
    .leftmarginquote{
    margin-left: 0px;
  }}

.hidequote{
  display: inline;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
    .hidequote{
      display: none;}}
 
.quotemark{
  display: none;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
  .quotemark{
  font-family: 'Abril Fatface', 'Bodoni 72', 'Times New Roman', Times, 'Droid Serif', serif;
  font-size: 80px;
  color: $blueColor;
  text-align: center;
  display: block;
  line-height: 10px; }}

//RIGHT COLUMN
//NAME AND INFO LOCATION MOVES
.nametopright{
  display: block;}
  @media screen and (min-width: $bp-mobilelow) and (max-width: $bp-tabletmed){
    .nametopright{
      display: none; }}

.ruledisplay {
  padding-top: 50px;
      margin: 0 auto;
      display: block;
      border-color: $redColor;
      width: 90%;
      // margin-bottom: 10px;
       }





.widthdeskright-space{
  line-height: 50px;
  }


